/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: serif !important; 
    font-size: 20px;
}

    // *{page-break-inside: avoid;page-break-after: avoid;page-break-before: avoid;}
